/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*--------------------*/

body {
    font-family: "Euclid Circular B";
    font-weight: 500;
    overflow-x: hidden;
}

header {
    padding: 32px 0;
}

.container {
    margin: 0 165px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo h2 {
    font-size: 24px;
    font-weight: 500;
}

.header__phone {
    display: none;
}

.header__connection a {
    transition: all 0.5s;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.header__connection .btn__form {
    transition: all 0.5s;
}

.header__connection a:hover {
    opacity: 0.6;
    color: rgb(86, 84, 84);
}

.header__connection .btn__form:hover {
    opacity: 0.8;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.header__connection .btn__form {
    margin-left: 32px;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #ffdf31;
}

/*-----*/


.greetings {
    background-color: #f5f5f5;
    margin-bottom: 72px;
}

.greetings h1 {
    margin-top: 48px;
    font-size: 72px;
    font-weight: 500;
    width: 445px;
}

.greetings .container {
    margin: 0 330px 0 0;
}

.swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.swiper-wrapper {
    margin-left: 165px;
}

.swiper-wrapper {
    cursor: grab;
}

.swiper .active {
    transform: rotate(180deg);
}

.swiper__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.swiper__btn {
    display: flex;
    justify-content: space-between;
    width: 88px;
    border-radius: 5px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
}

.swiper__btn button {
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.swiper__btn span {
    border-left: 2px solid #f5f5f5;
    height: 28px;
}

.swiper__btn_next,
img {
    transition: all 0.2s ease-out;
}

.swiper__btn_prev,
img {
    transition: all 0.2s ease-out;
}

.swiper__btn_next img:hover {
    transform: scale(1.3);
}

.swiper__btn_prev img:hover {
    transform: scale(1.3);
}

.btn__right_slide img {
    transition: all 0.2s ease-out;
}

.btn__left_slide img {
    transition: all 0.2s ease-out;
}

.btn__right_slide img:hover {
    transform: scale(1.3);
}

.btn__left_slide img:hover {
    transform: scale(1.3);
}

.perenosTitle {
    display: none;
}

.greetings__proffesion {
    z-index: 222;
    font-size: 24px;
    background-color: white;
    padding: 12px 16px;
    display: inline-block;
    position: absolute;
    top: 170px;
    left: 300px;
    border-radius: 25px;
}

.greetings__name {
    z-index: 222;
    font-size: 24px;
    background-color: white;
    padding: 12px 16px;
    display: inline-block;
    position: absolute;
    top: 450px;
    left: 200px;
    border-radius: 25px;
}

.greetings__name.woman {
    left: 200px;
    top: 470px;
}

.greetings__proffesion.woman {
    top: 160px;
    left: 70px;
}

.swiper {
    height: 418px;
}

.swiper__person {
    align-self: center;
    height: 700px;
    width: 612px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.swiper__img {
    position: relative;
    width: 100%;
    height: 75%;
    transform: scaleX(-1);
    overflow: hidden;
}

.swiper__img img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.swiper__img .woman {
    object-position: right;
}

.swiper__img.woman {
    transform: scaleX(1);
}

.brTitle {
    display: none;
}
